* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  color: aquamarine;
  background-color: bisque;
}

div {
  margin-top: 300px;
  position: absolute;
  border: 2px solid green;
  color: blue;
  width: 500px;
  height: 600px;
}

p {
  text-align: justify;
  color: powderblue;
  background-color: darksalmon;
  border: 3px solid red;
  width: 400px;
  height: 500px;
}

.caixa {
  margin-left: 250px;
  margin-bottom: 100px;
  width: 400px;
  height: 500px;
  background-color: lightgray;
}

#ultima-caixa {
  color: aqua;
  text-size-adjust: 250px;
  text-align: right;
  background-color: navajowhite;
  width: 600px;
  height: 700px;
}
