body {
  background-color: #59378d;
  height: 100vh;
  color: white;
}

header {
  background-color: lightgray;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  margin-bottom: 16px;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.5rem;
}

nav a {
  text-decoration: none;
  padding-right: 50px;
  /* background-color: #ef7d19; */
}

nav a:hover {
  font-size: 1.5rem;
  color: #fd5800;
  transition: all 0.4s ease-in-out;
}

ul {
  display: flex;
  height: 100%;
  align-items: center;
}

nav ul li {
  padding-left: 16px;
  list-style-type: none;
}

.main-proz {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 250px;
}

.proz-titles {
  align-self: flex-start;
  padding-left: 15px;
}

.description {
  display: flex;
  gap: 40px;
  margin-top: 30px;
}

.connection-title {
  margin-bottom: 1rem;
  text-shadow: 3px 1px 1px rgba(0, 0, 0, 0.5);
}

.student-at-work {
  background: url(./img/bg_laranja.jpg);
  border-radius: 12px;
  max-width: 300px;
  height: 200px;
  padding: 25px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 8px 15px;
}

.quality-title {
  margin-bottom: 1rem;
  text-shadow: 3px 1px 1px rgba(0, 0, 0, 0.5);
}

.quality-course {
  background: url(./img/bg_laranja.jpg);
  border-radius: 12px;
  max-width: 300px;
  height: 200px;
  padding: 25px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 8px 15px;
}
